  nav {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(49, 49, 49);
    transform: translateX(100%);
    transition: transform ease-in-out 250ms;
  }
  
  .nav-close {
    position: absolute;
    width: 100%;
    overflow: hidden;
  }
  
  .close-icon {
    display: none;
  }
  
  .hamburger {
    display: block;
  }
  
  .nav-open {
    position: fixed;
    height: 100vh;
    right: 0%;
    overflow: hidden;
    z-index: 1;
    width: 30%;
  
    & nav {
      transform: translateX(0);
    }
  
    & button {
      right: 30%;
    }
    
    .close-icon {
      display: block;
    }
  
    .hamburger {
      display: none;
    }
    
  }
  
  @media screen and (max-width: 500px) {
    .nav-container {
      width: 35%;
      left:65%
    }
  
    .nav-open button {
      right: 28%;
    }
  }
  
  .svg-icon {
    position: relative;
    top: .125em;
    height: 2em;
    width: 1.5em;
    left: .125em;
  }
  
  
  
  