/*
static:default - follows the document flow 
relative - similar to static but can be positioned in relation to itslef.
           when top/left/right/bottom are applied to it - moves it from
           its starting point removes the element from the document flow.
absolute - removes element from the doc flow. all the other elements will
           not move and act as if it doesnt exist. applying bottom/left/
           top/right will position the element absolutely inside the parent.
           when a relative element is not declared in a parent, it will go 
           to the next closest relative element or all the way back to the
           html element.
fixed - fixed to the entire html element. fixed moves with the page and 
        stayes on the exact position no matter what.
sticky - a mix of relative and fixed. by default it will act as relative,
         but when the element scrolles out the page of it becomes fixed 

*/

#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  padding: 0;
}

.App{
  position: relative;
  padding-top: 40px;
  transition: transform ease-in-out 250ms;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.app-container {
  position: absolute;
  width: 100%;
  height: 200vh;
  top: 0;
  transition: filter 0.1s ease-in-out;
  background-color: #000000;
}

.dimmed {
  filter: brightness(50%);
}

button {
  position: fixed;
  top: 2em;
  right: 0.5%;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

h3 {
  color: wheat;
  margin: 15%;
}

a:hover {
  color: rgb(255, 188, 222);
}